<style>
    .footer .nav-link {
        padding: 0px 10px 5px 0px;
    }

    .footer a {
        color: inherit;
    }
</style>
<footer>
    <ul class="nav text-muted fw-500 fs-12 footer ">
        <li class="nav-item">
            <a class="nav-link" href="">Help</a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">Status</a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">Writers</a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">Blog</a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">Privacy</a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">Terms</a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">About</a>
        </li>
    </ul>
</footer>